<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入外部配置 -->
    <settings>
        <!-- 开启驼峰映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>

    <plugins>
        <!-- 配置分页插件 -->
        <plugin
                interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>